* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
    height: auto;
}
.center{
  text-align:center;
  font-size: 14px;
}
.bottom {
  width: 98%;
  position: fixed;
  bottom: 0;
  text-align: center;
}
.card__image__profile {
  width: 100px;
  float: left;
  margin: 3px;
  padding: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border:white;
  background-size: cover;
  background-position: center;
}
.col-30 {
  width:30%;
}
.col-50 {
  width: 50%;
}
.col-70 {
  width: 70%;
  padding: 10px 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  background: #ffffff;
}

.card {
  position: relative;
  background: #ffffff;
  width: 400px;
  height: 100vh;
  // border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
    0 0 1rem rgba(0,0,0,0.2);
  overflow: hidden;
  
  &__image-container {
    background: #9292B0;
    height: 160px;
    margin: -2rem -2rem 2.5rem -2rem;
  }
  
  &__line {
  opacity: 0;
  animation: LineFadeIn .8s .8s forwards ease-in;
  }

  &__image {
    height: 160px;
    opacity: 0;
    animation: ImageFadeIn .8s 1.4s forwards;
  }

  &__title {
    color: white;
    margin: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
  }
  
  &__content {
    width:100%;
    display: flex;
    position: absolute;
    top: 112px;
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
  }
  
  &__svg {
    position: absolute;
    left: 0;
    top: 115px;
  }
}

@keyframes LineFadeIn {
  0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #ffffff; }
  50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
  100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
}

@keyframes ContentFadeIn {
  0% { transform: translateY(-1rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
  0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
  50% { opacity: 1; filter: blur(2px); }
  100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}

 
.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*height: 100px;*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  
  /* == */
  max-width: 400px;
  /* == */
}
.mcd-menu li {
  position: relative;
  /*float:left;*/
}
.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #777;
  /*text-align: center;
  border-right: 1px solid #E7E7E7;*/
  
  /* == */
  text-align: left;
  height: 36px;
  position: relative;
  border-bottom: 1px solid #EEE;
  /* == */
}
.mcd-menu li a i {
  /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/
  
  /* == */
  float: left;
  font-size: 10px;
  margin: 0 10px 0 0;
  /* == */
  
}
/* == */
.mcd-menu li a p {
  float: left;
  margin: 0 ;
}
/* == */

.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}
.mcd-menu li a small {
  display: block;
  font-size: 8px;
}

.mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
  position: relative;
  
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}
.mcd-menu li:hover > a i {
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}
.mcd-menu li:hover a strong {
    opacity: 1;
    -webkit-animation: moveFromLeft 300ms ease-in-out;
    -moz-animation: moveFromLeft 300ms ease-in-out;
    -ms-animation: moveFromLeft 300ms ease-in-out;
    -o-animation: moveFromLeft 300ms ease-in-out;
    animation: moveFromLeft 300ms ease-in-out;
}
.mcd-menu li:hover a small {
    opacity: 1;
    -webkit-animation: moveFromRight 300ms ease-in-out;
    -moz-animation: moveFromRight 300ms ease-in-out;
    -ms-animation: moveFromRight 300ms ease-in-out;
    -o-animation: moveFromRight 300ms ease-in-out;
    animation: moveFromRight 300ms ease-in-out;
}

.mcd-menu li:hover > a {
  color: #000;
}
.mcd-menu li a.active {
  position: relative;
  color: #000;
  border:0;
  /*border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  margin-top: -4px;*/
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
  
  /* == */
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  margin: 0 -4px;
  /* == */
}
.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  /*top: 0;
  left: 45%;
  border-top: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 42%;
  left: 0;
  border-left: 5px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* == */
}

/* == */
.mcd-menu li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid #000;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* == */

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}



.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*border-top: 4px solid #000;*/
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  /*top: 130px;*/
  z-index: 1000;
  
  /* == */
  left:280px;
  top: 0px;
  border-left: 4px solid #000;
  /* == */
}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 25px;
  left: -9px;
  border-right: 5px solid #000;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  /* == */
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  /*top: 100px;*/
  
  /* == */
  left:250px;
  /* == */
}
/*.mcd-menu li ul li {
  float: none;
}*/
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
  
  /* == */
  height: auto;
  /* == */
}
.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #000;
}  
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  /*left: -14px;*/
  /* == */
  left: -9px;
  /* == */
  border-right: 5px solid #000;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}



/*.mcd-menu li.float {
  float: right;
}*/
.mcd-menu li a.search {
  /*padding: 29px 20px 30px 10px;*/
  padding: 10px 10px 15px 10px;
  clear: both;
}
.mcd-menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}
.mcd-menu li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  outline: none;
  color: #777;
  
  /* == */
  width:170px;
  float:left;
  /* == */
}
.mcd-menu li a.search button {
  border: 1px solid #000;
  /*padding: 10px;*/
  background: #000;
  outline: none;
  color: #FFF;
  margin-left: -4px;
  
  /* == */
  float:left;
  padding: 10px 10px 11px 10px;
  /* == */
}
.mcd-menu li a.search input:focus {
  border: 1px solid #000;
}


.search-mobile { 
	display:none !important;
	background:#000;
	border-left:1px solid #000;
	border-radius:0 3px 3px 0;
}
.search-mobile i { 
	color:#FFF; 
	margin:0 !important;
}


@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .mcd-menu {
		margin-left:10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .mcd-menu {
		width: 200px;
	}
	.mcd-menu li a {
		height:30px;
	}
	.mcd-menu li a i {
		font-size: 22px;
	}
	.mcd-menu li a strong {
		font-size: 12px;
	}
	.mcd-menu li a small {
		font-size: 10px;
	}	
	.mcd-menu li a.search input {
		width: 120px;
		font-size: 12px;
	}
	.mcd-menu li a.search buton{
		padding: 8px 10px 9px 10px;
	}
	.mcd-menu li > ul {
		min-width:180px;
	}
	.mcd-menu li:hover > ul {
		min-width:180px;
		left:200px;
	}
	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
		min-width:150px;
	}
	.mcd-menu li ul li:hover > ul {
		left:180px;
		min-width:150px;
	}
	.mcd-menu li ul li ul li:hover > ul {
		left:150px;
		min-width:150px;
	}
	.mcd-menu li ul a {
		font-size:12px;
	}
	.mcd-menu li ul a i {
		font-size:14px;
	}
}

// @media only screen and (min-width: 480px) and (max-width: 767px) {
	
// 	.mcd-menu { 
// 		width: 50px;
// 	}
// 	.mcd-menu li a { 
// 		position: relative;
// 		padding: 12px 16px;
// 		height:20px;
// 	}
// 	.mcd-menu li a small { 
// 		display: none;
// 	}
// 	.mcd-menu li a strong { 
// 		display: none;
// 	}
// 	.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
// 		display:block;
// 		font-size:10px;
// 		padding:3px 0;
// 		position:absolute;
// 		bottom:0px;
// 		left:0;
// 		background:#000;
// 		color:#FFF;
// 		min-width:100%;
// 		text-transform:lowercase;
// 		font-weight:normal;
// 		text-align:center;
// 	}
// 	.mcd-menu li .search { 
// 		display: none;
// 	}
	
// 	.mcd-menu li > ul {
// 		min-width:180px;
// 		left:70px;
// 	}
// 	.mcd-menu li:hover > ul {
// 		min-width:180px;
// 		left:50px;
// 	}
// 	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
// 		min-width:150px;
// 	}
// 	.mcd-menu li ul li:hover > ul {
// 		left:180px;
// 		min-width:150px;
// 	}
// 	.mcd-menu li ul li ul li > ul {
// 		left:35px;
// 		top: 45px;
// 		border:0;
// 		border-top:4px solid #000;
// 	}
// 	.mcd-menu li ul li ul li > ul:before {
// 		left:30px;
// 		top: -9px;
// 		border:0;
// 		border-bottom:5px solid #000;
// 		border-left:5px solid transparent;
// 		border-right:5px solid transparent;
// 	}
// 	.mcd-menu li ul li ul li:hover > ul {
// 		left:30px;
// 		min-width:150px;
// 		top: 35px;
// 	}
// 	.mcd-menu li ul a {
// 		font-size:12px;
// 	}
// 	.mcd-menu li ul a i {
// 		font-size:14px;
// 	}
	
// }

// @media only screen and (max-width: 479px) {
//     .mcd-menu { 
// 		width: 50px;
// 	}
// 	.mcd-menu li a { 
// 		position: relative;
// 		padding: 12px 16px;
// 		height:20px;
// 	}
// 	.mcd-menu li a small { 
// 		display: none;
// 	}
// 	.mcd-menu li a strong { 
// 		display: none;
// 	}
// 	.mcd-menu li a:hover strong,.mcd-menu li a.active strong {
// 		display:block;
// 		font-size:10px;
// 		padding:3px 0;
// 		position:absolute;
// 		bottom:0px;
// 		left:0;
// 		background:#000;
// 		color:#FFF;
// 		min-width:100%;
// 		text-transform:lowercase;
// 		font-weight:normal;
// 		text-align:center;
// 	}
// 	.mcd-menu li .search { 
// 		display: none;
// 	}
	
// 	.mcd-menu li > ul {
// 		min-width:180px;
// 		left:70px;
// 	}
// 	.mcd-menu li:hover > ul {
// 		min-width:180px;
// 		left:50px;
// 	}
// 	.mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
// 		min-width:150px;
// 	}
// 	.mcd-menu li ul li:hover > ul {
// 		left:180px;
// 		min-width:150px;
// 	}
// 	.mcd-menu li ul li ul li > ul {
// 		left:35px;
// 		top: 45px;
// 		border:0;
// 		border-top:4px solid #000;
// 	}
// 	.mcd-menu li ul li ul li > ul:before {
// 		left:30px;
// 		top: -9px;
// 		border:0;
// 		border-bottom:5px solid #000;
// 		border-left:5px solid transparent;
// 		border-right:5px solid transparent;
// 	}
// 	.mcd-menu li ul li ul li:hover > ul {
// 		left:30px;
// 		min-width:150px;
// 		top: 35px;
// 	}
// 	.mcd-menu li ul a {
// 		font-size:12px;
// 	}
// 	.mcd-menu li ul a i {
// 		font-size:14px;
// 	}
    
// }
